/* General */
:root /*Guardar los colores base de nuestro proyecto, por si alguna vez cambian desde diseño, simplemente cambiarlos desde aqui*/
{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    /*Aqui se guardan unas variables con las diferentes medidas para el font-size*/
    --sm:14px;
    --md:16px;
    --lg:18px;
}
body
{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
button
{
    font-family: 'Quicksand', sans-serif;
    padding: 0;
}
/* Agregamos una clase inactive para que el menu este oculto */
.inactive
{
    display: none !important;
}

/* Navbar (general) */
nav
{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 28px;
    box-shadow: 0 2px 4px var(--very-light-pink);
    z-index: 1;
    position: relative;
}
.menu
{
    display: none;
}
.logo
{
    width: 140px;
    margin-right: 20px;
}
.navbar-left
{
    display: flex;
}
.navbar-left ul, .navbar-right ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-left ul li a
{
    text-decoration: none;
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: bold;
    border: 2px solid var(--white);
    border-radius: 8px;
    padding: 4px 8px 4px;
}
.navbar-left ul li a:hover
{
    color: var(--hospital-green);
    border: 2px solid var(--hospital-green);
}
.navbar-email p:hover
{
    color: var(--hospital-green);
    cursor: pointer;
}
.navbar-email
{
    color: var(--very-light-pink);
    font-size: var(--sm);
    display: flex;
    align-items: center;
    margin-right: 24px;
}
.navbar-email img
{
    transform: rotate(90deg);
    margin: 4px 0px 0px 8px;
}
.navbar-shopping-cart
{
    position: relative;
    cursor: pointer;
}
.navbar-shopping-cart div
{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--hospital-green);
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -8px;
    right: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Menu en desktop */
.desktop-menu
{
    position: absolute;
    top: 60px;
    right: 70px;
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    box-shadow: 0 2px 4px var(--very-light-pink);
    background-color: var(--white);
    border-radius: 6px;
    padding: 20px 20px 0px 20px;
}
.desktop-menu ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li
{
    text-align: end;
}
.desktop-menu ul li:last-child
{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a
{
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li:last-child a:hover
{
    color: var(--black);
}
.desktop-menu ul li a:hover
{
    color: var(--hospital-green);
}
.desktop-menu ul li a
{
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
    font-size: var(--md);
    display: inline-block;
    margin-bottom: 20px;
}

/* Menu en mobile */
.mobile-menu
{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 100%);
    top: 60px;
    left: 0;
    padding: 16px 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--very-light-pink);
    box-shadow: -2px 2px 4px var(--very-light-pink);
    background-color: var(--white);
}
.mobile-menu div:first-child
{
    margin-bottom: 32px;
}
.mobile-menu a
{
    text-decoration: none;
    /*Esta propiedad sirve para quitar el subrayado que viene por defecto con la etiqueta de ancore*/
    color: var(--black);
    font-weight: bold;
}
.mobile-menu ul
{
    padding: 0;
    margin: 0;
    list-style: none;
    /*Esta propiedad sirve para quitar los puntos que vienen por defecto en las listas*/
}
.mobile-menu .categories
{
    border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu .account-info
{
    margin-top: 24px;
}
.mobile-menu ul li
{
    margin-bottom: 24px;
}
.mobile-menu .sign-out li:nth-child(1)
{
    margin-bottom: 8px;
}
.mobile-menu .sign-out li:nth-child(1) a
{
    font-size: var(--sm);
    font-weight: 300;
}
.mobile-menu .sign-out li:nth-child(2) a
{
    font-size: var(--sm);
    color: var(--hospital-green);
}

/* Aside (Shopping cart y product detail) */

.my-order
{
    width: 360px;
    display: grid;
    place-items: center;
    position: absolute;
    right: 0;
    padding: 0 20px 20px;
    border-radius: 8px 0 0 8px;
    box-shadow: -2px 2px 4px var(--very-light-pink);
    background-color: var(--white);
}
.my-order .title-container
{
    display: flex;
    width: 100%;
    justify-content: left;
}
.my-order .title-container img
{
    transform: rotate(180deg);
    width: 30px;
    scale: 0.35;
    cursor: pointer;
}
.my-order .title-container .title
{
    font-size: var(--lg);
    font-weight: bold;
    padding-left: 8px;
}
.my-order .my-order-container
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    margin-top: 20px;
}
.my-order .my-order-container .shopping-cart
{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 16px;
    align-items: center;
}
.my-order .my-order-container .shopping-cart figure
{
    margin: 0;
}
.my-order .my-order-container .shopping-cart img[alt="close-icon"]
{
    cursor: pointer;
}
.my-order .my-order-container .shopping-cart figure img
{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    object-fit: cover;
}
.my-order .my-order-container .shopping-cart p:nth-child(2)
{
    color: var(--very-light-pink);
}
.my-order .my-order-container .shopping-cart p:nth-child(3)
{
    font-weight: bold;
    font-size: var(--md);
}
.my-order .my-order-container .order-resume
{
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--text-input-field);
    gap: 16px;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 8px 16px;
}
.my-order .my-order-container .order-resume p:nth-child(2)
{
    justify-self: flex-end;
    font-weight: bold;
    font-size: var(--md);
}
.my-order .my-order-container .order-resume p span:nth-child(1)
{
    font-weight: bold;
    font-size: var(--md);
}
.my-order .primary-button
{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    height: 60px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}

/* Product list */

.cards-container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin: 20px 0;
}
.cards-container .product-card
{
    width: 240px;
}
.product-card .product-img
{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}
.product-card .product-info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info div p:nth-child(1)
{
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-info div p:nth-child(2)
{
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}
.product-info figure
{
    margin: 0;
    cursor: pointer;
}
.product-info figure img
{
    width: 40px;
    height: 40px;
}

/* Media queries */
@media (max-width: 867px)
{
    .navbar-left ul
    {
        display: none;
    }
}
@media (max-width: 640px)
{
    .menu
    {
        display: block;
        cursor: pointer;
    }
    .navbar-left ul, 
    .navbar-email, 
    .desktop-menu,
    .my-order .title-container
    {
        display: none;
    }
    .my-order
    {
        width: 100%;
        box-sizing: border-box;
        box-shadow: none;
    }
    .cards-container
    {
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .cards-container .product-card
    {
        width: 140px;
    }
    .product-card .product-img
    {
        width: 140px;
        height: 140px;
    }
}
@media (min-width: 641px)
{
    .mobile-menu
    {
        display: none;
    }
}