:root /*Guardar los colores base de nuestro proyecto, por si alguna vez cambian desde diseño, simplemente cambiarlos desde aqui*/
{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    /*Aqui se guardan unas variables con las diferentes medidas para el font-size*/
    --sm:14px;
    --md:16px;
    --lg:18px;
}
body
{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.mobile-menu
{
    margin: 24px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobile-menu div
{
    margin-bottom: 32px;
}
.mobile-menu a
{
    text-decoration: none;
    /*Esta propiedad sirve para quitar el subrayado que viene por defecto con la etiqueta de ancore*/
    color: var(--black);
    font-weight: bold;
}
.mobile-menu ul
{
    padding: 0;
    margin: 24px 0px 0px;
    list-style: none;
    /*Esta propiedad sirve para quitar los puntos que vienen por defecto en las listas*/
}
.categories
{
    border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul li
{
    margin-bottom: 24px;
}
.sign-out li:nth-child(1)
{
    margin-bottom: 8px;
}
.sign-out li:nth-child(1) a
{
    font-size: var(--sm);
    font-weight: 300;
}
.sign-out li:nth-child(2) a
{
    font-size: var(--sm);
    color: var(--hospital-green);
}